@font-face {
	font-family: 'glyphicons';
	src: url('fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'),
		url('fonts/glyphicons-halflings-regular.svg') format('svg'),
		url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('fonts/glyphicons-halflings-regular.woff') format('woff');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Black';
	src: url('fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
/*<----------------BODY---------------->*/

body {
	font-family: 'Roboto-Regular', Arial, Verdana, "Trebuchet MS", "Arial Black", sans-serif;
	color: rgb(39, 39, 39);
	font-size: 1.0em;
	margin: 0px;
}

h1
{
	text-align: center;
	font-family: 'Roboto-Medium', "Arial black", Impact, Arial;
	font-size: 2.5em;
	margin-bottom: 15px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

p
{
	line-height: 2;
}

.chapeau
{
	text-align: center;
	padding-left: 25%;
	padding-right: 25%;
}

.bouton
{
	display: block;
	width: 125px;
	line-height: 40px;
	text-align: center;
	background-color: rgb(92, 173, 211);
	color: white;
	border-bottom: 3px solid rgb(70, 140, 173);
	border-radius: 4px;
	font-family: 'Roboto-Medium', "Arial black", Impact, Arial;
	font-size: 1.2em;
	text-decoration: none;
}

.bouton:active
{
	background-color: rgb(70, 140, 173);
}

/*<----Separateur---->*/
.separateur
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.trait 
{
    border: none;
	border-top: 1px solid rgb(218, 218, 218);
    overflow: visible;
	text-align: center;
	width: 50px;
}

.point
{
	background-color: rgb(92, 173, 211);
	border-radius: 100%;
	width: 12px;
	height: 12px;
	border: 4px solid white;
}
/*<----------------HEADER---------------->*/

#titre_principal
{
	display: flex;
	justify-content: space-between;
	align-items: center; /*centrer verticalement*/
	height: 100px;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	position: fixed;
	background-color: white;
	top: 0px; 
	left: 0px;
	z-index: 10; /*Permet de passer par dessu les autres éléments*/
}

header
{
	height: 92px;
}

/*<-Navigation->*/
.navigation ul
{
	list-style-type: none;
	display: flex;
}

.navigation li
{
	display: flex;
	width: 75px;
	height: 100px;
	align-items: center;
	justify-content: center;
}

.navigation a
{
	text-decoration: none;
	color: rgb(39, 39, 39);
}

.menu-accueil
{
	border-top: 5px solid rgb(92, 173, 211);
}

.menu-autre
{
	border-top: 5px solid white;
}

#nav-mobile
{
	visibility: hidden;
}

/*<----------------Section Accueil---------------->*/

h2
{
	font-family: 'Roboto-Black', "Arial black", Impact, Arial;
	color: white;
	font-size: 2.2em;
	text-transform: uppercase;
	margin-bottom: -5px;
	margin-top: -37px;
}

.bleu
{
	color: rgb(92, 173, 211);
	font-family: 'Roboto-Bold', "Arial black", Impact, Arial;
}

#sous-titre
{
	color: white;
	font-family: 'Roboto-Bold', "Arial black", Impact, Arial;
	text-align: left;
}

#accueil
{
	background: url(images/slider/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 550px;
}

#accueil div
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 50%;
	height: 550px;
	padding-left: 11%;
}

#trait-bleu
{
	border: none;
	border-top: 5px solid rgb(92, 173, 211);
	width: 0px;
	margin-top: -5px
}

/*<-fleches->*/

.fleche-gauche
{
	display: flex;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.25);
	width: 2.5rem;
	height: 5rem;
	border-radius: 0 2.5rem 2.5rem 0;
	justify-content: center;
	align-items: center; 
	top: 315px;
}

.fa-angle-left
{
	color: white;
	font-size: 2.5em;
	margin-left: -6px;
}

.fleche-droite
{
	display: flex;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.25);
	width: 2.5rem;
	height: 5rem;
	border-radius: 2.5rem 0 0 2.5rem;
	justify-content: center;
	align-items: center; 
	top: 315px;
	right: 0%
}

.fa-angle-right
{
	color: white;
	font-size: 2.5em;
	margin-right: -6px;
}

/*<----------------Section Services---------------->*/

#contenu-service
{
	display: flex;
}

#Mac
{
	width: 50%;
	margin-left: 10%;
}

#liste-metiers
{
	width: 50%;
	padding-top: 35px;
	margin-right: 10%;
}

.metier
{
	display: flex;
	align-items: center;
}

.explicatif
{
 	margin-left: 20px;
}

h4
{
	font-family: 'Roboto-Black', "Arial black", Impact, Arial;
	margin-bottom: -5px;
	font-size: 1.25em;
}

#services .fas
{
	display: flex;
	color: rgb(92, 173, 211);
	font-size: 1.75em;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 100%;
	height: 60px;
	min-width: 60px;
	justify-content: center;
	align-items: center;
}

.point-services
{
	background-color: rgb(92, 173, 211);
	border-radius: 100%;
	min-width: 12px;
	height: 12px;
	border: 4px solid white;
	margin-left: -11px;
}

/*<----------------Section Projet---------------->*/

#projets
{
	background-color: rgb(245, 245, 245);
	background-size: cover;
	margin-left: -8px;
	margin-right: -8px;
	padding-top: 1px;
	padding-bottom: 20px;
}

/*<-Travaux->*/
.travaux
{
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.travaux ul  
{
    list-style-type: none;
	display: flex;
	background-color: rgb(229, 229, 229);
	border-radius: 4px;
	padding: 0px;
	height: 50px;
}

.travaux li
{
	display: flex;
	align-items: center;
	width: 100px;
	justify-content: center;
}

.travaux a
{
   text-decoration: none;
   color: rgb(39, 39, 39);
   font-family: 'Roboto-Medium', "Arial black", Impact, Arial;
}

.selection-all-work
{
	background-color: rgb(92, 173, 211);
	border-radius: 4px 0px 0px 4px;
	border-bottom: 3px solid rgb(70, 140, 173);
}

.selection-all-work::after
{
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(70, 140, 173);
	position: absolute;
	margin-top: 30px;
}
.selection-all-work a
{
	color: white;
}

/*<-Portfolio->*/

#portfolio
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 10%;
	padding-right: 10%;
}

#portfolio img
{
	width: 300px;
	height: 200px;
	margin: 10px;
}

.affichage
{
	display: flex;
	position: relative;
	align-items: flex-end;
	
}

.descriptif
{
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 280px;
	margin-left: 10px;
	margin-top: -10px;
	padding: 10px;
	opacity: 0;
}

h5
{
	font-family: 'Roboto-Black', "Arial black", Impact, Arial;
	color: white;
	font-size: 1.2em;
	margin-top: 0px;
	margin-bottom: 3px;
}

.descriptif p
{
	font-family: 'Roboto-Medium', "Arial black", Impact, Arial;
	color: white;
	margin-top: 0px;
	line-height: 1.7;
	margin-bottom: 0px;
}

.voir
{
	display: flex;
	background-color: rgb(92, 173, 211);
	border-radius: 100%;
	border: 2px solid white;
	width: 40px;
	height: 40px;
	color: white;
	font-size: 1em;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-left: 230px;
	margin-top: -32px;
}

.descriptif:hover
{
	opacity: 1;
}

/*<----------------Section contact---------------->*/

#contact
{
	display: flex;
	align-items: center;
}

iframe
{
	width: 100%;
	height: 800px;
	border: 0;
}

#voile
{
	background-color: rgb(92, 173, 211);
	opacity: 0.25;
	height: 800px;
	width: 100%;
	position: absolute;
}

aside
{
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
	left: 60%;
	padding: 25px;
}

h3
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Roboto-Black', "Arial black", Impact, Arial;
	font-size: 1.5em;
}

#contact p
{
	line-height: 1.5;
	margin-top: 5px;
}

.gris
{
	font-family: 'Roboto-Bold', "Arial black", Impact, Arial;
	color: rgb(75, 75, 75)
}

.souligner
{
	text-decoration: underline;
}

#formulaire
{
	padding: 8px;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 5px;
	border: 1px solid rgb(200, 200, 200);
	font-family: 'Roboto-Regular', Arial, Verdana, "Trebuchet MS", "Arial Black", sans-serif;
	font-size: 1em;
	width: 382px;
}

textarea
{
	padding: 8px;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 5px;
	border: 1px solid rgb(200, 200, 200);
	font-family: 'Roboto-Regular', Arial, Verdana, "Trebuchet MS", "Arial Black", sans-serif;
	font-size: 1em;
	width: 382px;
	max-width: 382px;
	min-width: 382px;
	height: 200px;
	min-height: 200px;
}

#envoyer
{
	display: block;
	width: 135px;
	line-height: 35px;
	text-align: center;
	background-color: rgb(92, 173, 211);
	color: white;
	border: none;
	border-bottom: 3px solid rgb(70, 140, 173);
	border-radius: 4px;
	font-family: 'Roboto-Medium', "Arial black", Impact, Arial;
	font-size: 1em;
	text-decoration: none;
}

/*<----------------Résolution inférieur à 1024px---------------->*/

@media all and (max-width: 1024px)
{
	/*<----------------BODY---------------->*/

	.chapeau
	{
		padding-left: 10%;
		padding-right: 10%;
	}

	/*<----Separateur---->*/

	/*<----------------HEADER---------------->*/

	/*<-Navigation->*/

	/*<----------------Section Accueil---------------->*/

	#accueil
	{
		height: 400px;
	}

	#accueil div
	{
		height: 400px;
	}

	/*<-fleches->*/

	.fleche-gauche
	{
		top: 245px;
	}

	.fleche-droite
	{
		top: 245px;
	}

	/*<----------------Section Services---------------->*/

	#contenu-service
	{
		flex-direction: column;
	}

	#Mac
	{
		display: flex;
		margin-left: 25%;
		margin-right: 25%;
		align-items: center
	}
	
	#Mac img
	{
		width: 100%;
	}

	#liste-metiers
	{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	/*<----------------Section Projet---------------->*/

	/*<-Travaux->*/

	/*<-Portfolio->*/

	#portfolio
	{
		justify-content: space-around
	}

	/*<----------------Section contact---------------->*/

	aside
	{
		left: 53%;
	}
}

/*<----------------Résolution mobiles---------------->*/

@media all and (max-device-width: 480px)
{
	/*<----------------BODY---------------->*/

	body
	{
		font-size: 0.9em;
	}

	p
	{
		line-height: 1.8;
	}

	h1
	{
		font-size: 3.5em;
	}

	.bouton
	{
		width: 175px;
		line-height: 60px;
		font-size: 2em;
		border-bottom: 6px solid rgb(70, 140, 173);
		border-radius: 7px;
	}

	/*<----Separateur---->*/

	.trait
	{
		width: 80px;
	}

	.point
	{
		width: 15px;
		height: 15px;
	}

	/*<----------------HEADER---------------->*/

	/*<-Navigation->*/

	.navigation
	{
		visibility: hidden;
	}

	#nav-mobile
	{
		visibility: visible;
		font-size: 3em;
		margin-left: 65%;
		color: rgb(175, 175, 175);
	}

	/*<----------------Section Accueil---------------->*/

	h2
	{
		font-size: 3.25em;
		margin-top: 0px;
	}

	#sous-titre
	{
		font-size: 2em;
		margin-top: 10px;
		line-height: 1.5;
		max-width: 80%;
	}

	#accueil div
	{
		max-width: 60%;
	}

	/*<-fleches->*/

	/*<----------------Section Services---------------->*/

	h4
	{
		font-size: 2.75em;
		margin-top: 0px;
	}

	.explicatif p
	{
		font-size: 1.55em;
		margin-top: 10px
	}
	
	#services .fas
	{
		font-size: 2.75em;
		height: 90px;
		min-width: 90px;
	}

	.point-services
	{
		min-width: 15px;
		height: 15px;
	}

	#liste-metiers
	{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	/*<----------------Section Projet---------------->*/

	/*<-Travaux->*/

	.travaux ul  
	{
		height: 75px;
	}

	.travaux li
	{
		width: 175px;
	}
	
	.travaux a
	{
		font-size: 2.25em;
	}

	.selection-all-work::after
	{
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid rgb(70, 140, 173);
		margin-top: 45px;
	}

	/*<-Portfolio->*/

	h5
	{
		font-size: 2.25em;
		max-width: 85%;
	}

	.descriptif p
	{
		font-size: 2em;
		line-height: 1.25;
	}

	.voir
	{
		width: 45px;
		height: 45px;
		font-size: 1.75em;
	}

	/*<----------------Section contact---------------->*/

	#contact
	{
		display: flex;
		align-items: baseline;
		flex-direction: column-reverse;
	}

	iframe
	{
		width: 100%;
		height: 400px;
		border: 0;
	}
	#voile
	{
		height: 400px;
	}

	aside
	{
		position: relative;
		background: white;
		left: 0;
		padding: 25px 0px 25px 0px;
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
	}

	h3
	{
		font-size: 3.5em;
	}

	#contact p
	{
		font-size: 2.25em;
	}

	#formulaire
	{
		margin-top: 12px;
		margin-bottom: 12px;
		width: 100%;
		height: 50px;
		font-size: 0.9em;
	}
	
	textarea
	{
		margin-top: 12px;
		margin-bottom: 12px;
		font-size: 0.5em;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
	}
	
	#envoyer
	{
		width: 225px;
		line-height: 75px;
		border-bottom: 6px solid rgb(70, 140, 173);
		border-radius: 7px;
		font-size: 0.9em
	}
}