@font-face {
	font-family: 'FontAwsome';
	src: url('fonts/fontawsome-webfont.eot') format('embedded-opentype'),
		url('fonts/fontawsome-webfont.svg') format('svg'),
		url('fonts/fontawsome-webfont.ttf') format('truetype'),
		url('fonts/fontawsome-webfont.woff') format('woff');
}

@font-face {
	font-family: 'glyphicons';
	src: url('fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'),
		url('fonts/glyphicons-halflings-regular.svg') format('svg'),
		url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('fonts/glyphicons-halflings-regular.woff') format('woff');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Black';
	src: url('fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
/*<----------------BODY---------------->*/

body {
	font-family: 'Roboto-Regular', Arial, Verdana, "Trebuchet MS", "Arial Black", sans-serif;
	color: rgb(39, 39, 39);
	font-size: 1.0em;
	background-color: aqua;
}

h1
{
	text-align: center;
	font-family: 'Roboto-Bold', "Arial black", Impact, Arial;
	font-size: 2.5em;
}

p
{
	text-align: center;
}

.bouton
{
	display: block;
	width: 125px;
	line-height: 40px;
	text-align: center;
	background-color: rgb(92, 173, 211);
	color: white;
	border-bottom: 3px solid rgb(70, 140, 173);
	border-radius: 4px;
	font-family: 'Roboto-Medium', "Arial black", Impact, Arial;
	font-size: 1.2em;
}

/*<----------------HEADER---------------->*/

#titre_principal
{
	display: flex;
	justify-content: space-between;
	align-items: center; /*centrer verticalement*/
	height: 100px;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	position: fixed;
	background-color: white;
	top: 0px; 
	left: 0px;
}

header
{
	height: 92px;
}

/*<-Navigation->*/
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    width: 75px;
}

a
{
   text-decoration: none;
   color: rgb(39, 39, 39);
}

/*<----------------Section Accueil---------------->*/
h2
{
	font-family: 'Roboto-Black', "Arial black", Impact, Arial;
	color: white;
	font-size: 2.2em;
	text-transform: uppercase;
	margin-bottom: -5px;
}

#bleu
{
	color: rgb(92, 173, 211);
}

#sous-titre
{
	color: white;
	font-family: 'Roboto-Bold', "Arial black", Impact, Arial;
	text-align: left;
}

#accueil img
{
	display: block;
	width: 100%;
}

#accueil div
{
	position: absolute;
	top: 20%;
	left: 10%;
	max-width: 40%;
}
/*<----------------Footer---------------->*/